.gradle
.idea
# gradle # for github actions
build
bin/
.settings/

src/main/resources/auth.properties
out/
!src/main/java/io/jgitkins/web/application/port/out/
!src/main/java/io/jgitkins/web/application/port/out/**



.project
.classpath
.factorypath
