spring:
  thymeleaf:
    cache: false
    prefix: file:src/main/resources/templates/
  web:
    resources:
      static-locations: classpath:/static/,file:src/main/resources/static/
      cache:
        period: 0
  devtools:
    livereload:
      enabled: true
